services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8085:8085"
    depends_on:
      - main
    environment:
      - API_URL=http://main:5050

  main:
    build:
      context: .
      dockerfile: Dockerfile.main
    ports:
      - "5050:5050"