version: "3.9"

services:
  aapi:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8085:8085"
    depends_on:
      - api
    environment:
      - API_URL=http://api:5050

  api:
    build:
      context: .
      dockerfile: Dockerfile.main
    ports:
      - "5050:5050"